<div id="cakeSelection">

    <img src='img/cake/cake1.png' width='95%'>
    <img src='img/cake/cake2.png' width='95%'>
    <img src='img/cake/cake3.png' width='95%'>
    <img src='img/cake/cake4.png' width='95%'>

</div>