<div id="cakeSelection">

    <img src='img/cake/cake1.jpg' width='90%'>
    <img src='img/cake/cake2.jpg' width='90%'>
    <img src='img/cake/cake3.jpg' width='90%'>
    <img src='img/cake/cake4.jpg' width='90%'>

</div>