<div id="cakeSelection">

    <img src='img/cake/cake1.png' width='95%'>
    <img src='img/cake/cake2.png' width='95%'>
    <img src='img/cake/cake3.png' width='95%'>
    <img src='img/cake/cake4.png' width='95%'>
    <p align='center'>Why have sweet when you can have both sweet and SUCCULENT? Our Choco-Straw Cake lets us truly have the best of both worlds. With our signature moist chocolate cake in the middle, chocolate mousse hugging it from each side and a thin layer of strawberry jam at the top, the Choco-Straw Cake is a pastry to die for.</p>
    <p align='center'>It's a contrast of light and dark and everything between, the Chocolate cake with our signature mousse hits every note of sweet, succulent and delectable. Each bite melts so perfectly in your mouth that you'll find yourself looking for more.</p>
    <p align='center'>There's nothing wrong with the classics, and our Cheesecake is no exception. This slice is a family recipe tried and true by the test of time, having been on sale since our launch in the 1960s. With a perfect balance of tart from the strawberry topping and the sweetness from the cream-cheese sugary filling, our Cheesecake is one of our most popular options that customers pine for.</p>
    <p align='center'>From the campfire to the bakery, our S'mores cake sandwiches three spongy slices of chocolate cake between two heaping piles of home-made marshmallow sweet cream. Topping with a round piece of white-chocolate, this piece of cake is one you can't miss out on.</p>

</div>