<div id='cookieSelection'>

    <img src='img/cookie/cookie1.png' width='95%'>
    <img src='img/cookie/cookie2.png' width='95%'>
    <img src='img/cookie/cookie3.png' width='95%'>
    <img src='img/cookie/cookie4.png' width='95%'>

</div>