<div id='cookieSelection'>

    <img src='img/cookie/cookie1.jpg' width='90%'>
    <img src='img/cookie/cookie2.jpg' width='90%'>
    <img src='img/cookie/cookie3.jpg' width='90%'>
    <img src='img/cookie/cookie4.jpg' width='90%'>

</div>