<div id='cookieSelection'>

    <img src='img/cookie/cookie1.png' width='95%'>
    <img src='img/cookie/cookie2.png' width='95%'>
    <img src='img/cookie/cookie3.png' width='95%'>
    <img src='img/cookie/cookie4.png' width='95%'>
    <p align='center'>The classic cookie with no strings attached. The Chocolate-Chip cookie we serve at Sweet Tooth are a symphony of crunchy and soft, with a crunch going in and it melting in your mouth at the end. Loaded with semi-sweet chocolate chips, this cookie has been around since our launch in the 1960s.</p>
    <p align='center'>'Tis the season, and that means its the season for Sugar Cookies (Then again, when ISN'T it time for cookies? Our sugar cookies come in two types, crunchy or soft, so every type of cookie person is pleased.</p>
    <p align='center'>Macaroons are like rainbows, they come in all colors. Fresh out of the oven, our macaroons are some of our most popular holiday options, often bought as gifts for friends, family and loved ones.</p>
    <p align='center'>Some people like Vanilla. Some people like Strawberry. Some people like both. Some people even like strawberry inside of their strawberry topped vanilla cookies. Why, you might ask? Why not.</p>

</div>