<link rel='stylesheet' href='main.css'>

<body>

<div id='header'>

    <h1>Sweet Tooth</h1>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/sweets'>Sweets</a></li>
        <li><a href='/recipesearch'>Recipes</a></li>
    </ul>

</div>

<div id='cookieSelection'>

    <img src='img/cookie/cookie1.jpg' width='90%'>
    <img src='img/cookie/cookie2.jpg' width='90%'>
    <img src='img/cookie/cookie3.jpg' width='90%'>
    <img src='img/cookie/cookie4.jpg' width='90%'>

</div>

</body>