</div>

    <div id="cupcakeSelection">

    <img src='img/cupcake/cupcake1.jpg' width='90%'>
    <img src='img/cupcake/cupcake2.jpg' width='90%'>
    <img src='img/cupcake/cupcake3.jpg' width='90%'>
    <img src='img/cupcake/cupcake4.jpg' width='90%'>

</div>