</div>

    <div id="cupcakeSelection">

    <img src='img/cupcake/cupcake1.png' width='95%'>
    <img src='img/cupcake/cupcake2.png' width='95%'>
    <img src='img/cupcake/cupcake3.png' width='95%'>
    <img src='img/cupcake/cupcake4.png' width='95%'>

</div>