</div>

    <div id="cupcakeSelection">

    <img src='img/cupcake/cupcake1.png' width='95%'>
    <img src='img/cupcake/cupcake2.png' width='95%'>
    <img src='img/cupcake/cupcake3.png' width='95%'>
    <img src='img/cupcake/cupcake4.png' width='95%'>
    <p align='center'>Our classic Chocolate Cupcake, representing the family original recipe from 1968! A soft, spongy cake topped with sweet chocolate icing.</p>
    <p align='center'>A Yellow cupcake with strawberry frosting mixed with shards of strawberry, our Strawberry Sunrise cupcake has been one of our most selling cupcakes since its introduction!</p>
    <p align='center'>With cake as soft as a pillow and frosting as smooth as restful dreams, the Blueberry Dream has sweet and succulent blueberry frosting atop a fluffy yellow cupcake, with a heart to top it all off.</p>
    <p align='center'>Our macadami-cup is our newest line of cupcakes to the Sweet Tooth bakery. A butter-nut cupcake with a macadamia nut squished right in the middle. I suppose you can say this pastry is your hero Macadami-cup.</p>
</div>