<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Tooth - Cupcakes</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <div id='header'>

    <h1>Sweet Tooth</h1>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/sweets'>Sweets</a></li>
        <li><a href='/recipesearch'>Recipes</a></li>
    </ul>

    </div>

    <div id="cupcakeSelection">

    <img src='img/cupcake/cupcake1.jpg' width='90%'>
    <img src='img/cupcake/cupcake2.jpg' width='90%'>
    <img src='img/cupcake/cupcake3.jpg' width='90%'>
    <img src='img/cupcake/cupcake4.jpg' width='90%'>

    </div>

</body>
</html>