<div id='aboutUs'>

<h1 align='center'>About Us</h1>

<h2 align='center'>Here at Sweet Tooth, you get the best quality pastries for the best affordable prices. Serving customers since 1968, Sweet Tooth prides itself on its loyalty to keeping sweets at a price that can't be beat, with smiles that are just as sweet!</h2>

<h3 align='center'>When you endulge in a Sweet Tooth pastry, you'll notice the difference immediately. Not only do we use and only have used locally grown ingredients, all recipes are family-special which have been passed down from generation to generation. All ingredients used are organic and are free of animal cruelty.</h3>

<h4 align='center'>Visit a local Sweet Tooth location today for the freshest pastries and ready-to-bake pastry sets!</h4>

</div>

<div id='Homepagesweets'>

    

    <a href = '/cakes'><img src='img/Cakehome.png' width='95%'></a>
    <a href = '/cupcakes'><img src='img/Cupcakehome.png' width='95%'></a>
    <a href = '/cookies'><img src='img/Cookiehome.png' width='95%'></a>

</div>