<h1 align='center'>While we can't exactly share the ancient Bakery recipe texts (or the Ancient Jedi Texts for that matter), we can instead offer you avenues to other amazingly delectable sweets hand-picked by Sweet Tooth ourself! Each day we hand-pick a recipe to show-case on the website, based on both taste as well as looks! The recipe we've decided to showcase today is</h1>

<div id='results'>

<h1> <%= @data['title'] %> </h1>
<a href= <%= @data['sourceUrl']%>>Click here to visit the website for this recipe!</a>
<img src=<%= @data['image'] %>>

</div>