<div id='sweets'>

    <h1>Sweets</h1>

    <div id='sweetSelection'>

    <a href = '/cakes'><img src='img/cake/cake1.jpg' width='100%'></a>
    <a href = '/cupcakes'><img src='img/cupcake/cupcake1.jpg' width='100%'></a>
    <a href = '/cookies'><img src='img/cookie/cookie1.jpg' width='100%'></a>


    </div>

</div>