<div id='sweets'>

    <div id='sweetSelection'>

    <a href = '/cakes'><img src='img/Cakes.png' width='100%'></a>
    <a href = '/cupcakes'><img src='img/Cupcakes.png' width='100%'></a>
    <a href = '/cookies'><img src='img/Cookies.png' width='100%'></a>


    </div>

</div>