body {
    background-color: thistle;
    font-family: Arial;
}

#header {
    display: grid;
    grid-template: repeat(2, 70px) / repeat(1, 200px);
    justify-content: center;
}

#header a {
    color: #b6a82c;
    text-decoration: none;
}

#header h1 {
    border: white;
}

#header ul {
    display: grid;
    grid-template: repeat(1, 40px) / repeat(3, 100px);
    position: relative;
    list-style: none;
    justify-content: center;
}

/* Sweets Page Styling */

#sweetSelection {
    display: grid;
    grid-template: repeat(1, 100px) / repeat(3, 300px);
    grid-gap: 10%;
    justify-content: center;
}

/* Cupcake Page Styling */

#cupcakeSelection {
    display: grid;
    grid-template: repeat(4, 300px) / repeat(4, 300px);
    justify-content: center;
}

/* Cake Page Styling */

#cakeSelection {
    display: grid;
    grid-template: repeat(4, 300px) / repeat(4, 300px);
    justify-content: center;
}

/* Cookie Page Styling */

#cookieSelection {
    display: grid;
    grid-template: repeat(4, 300px) / repeat(4, 300px);
    justify-content: center;
}